<html layout:decorate="~{usr/common/layout}">

<head>
    <title>채팅방 생성</title>
</head>

<body>

<div layout:fragment="content" class="flex-1 flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-comment-medical"></i>
            채팅방 생성
        </h1>

        <form enctype="multipart/form-data" th:action method="POST"
              onsubmit="submitCreateForm(this); return false;"
              class="flex flex-col gap-6">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">이름</span>
                </label>
                <input type="text" name="name" placeholder="이름" class="input input-bordered" autofocus
                       maxlength="30">
            </div>

            <div>
                <button class="btn btn-block btn-primary gap-1">
                    <i class="fa-solid fa-comment-medical"></i>
                    <span>채팅방 생성</span>
                </button>

                <div class="text-center">
                    <a href="/usr/chat/roomList" class="btn btn-link">채팅방 리스트</a>
                </div>
            </div>
        </form>

        <script>
            let submitCreateFormDone = false;

            function submitCreateForm(form) {
                if (submitCreateFormDone) return;

                form.name.value = form.name.value.trim();

                if (form.name.value.length == 0) {
                    form.name.focus();
                    toastWarning('이름을 입력해주세요.');
                    return;
                }

                if (form.name.value.length < 2) {
                    form.name.focus();
                    toastWarning('이름을 2자 이상 입력해주세요.');
                    return;
                }

                form.submit();
                submitCreateFormDone = true;
            }
        </script>
    </div>
</div>

</body>

</html>